<font rwr="1" size="4" style="font-family:Arial">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://dewiso.com/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://sromelus.github.io/the-weather-today/ebaytemp.css" rel="stylesheet">
    <div style="background: #fff;  border: 5px solid green; margin: 30px; border-radius: 25px;">
      <div style="line-height: px;">
        <div class="container" style="border-bottom: 1px solid rgb(203, 212, 194); padding: 40px 0px;">
          <div class="col-12 col-md-12" style="">
            <h1 style="text-align: center;"><span
                style="font-size: 2.5rem;">MaxLite 100 Watt Equivalent, Soft
                White, Dimmable, A19 LED Light Bulb, 4-Pac</span></h1>
            <h1 style="text-align: center;"><img alt="Image" class="mx-auto d-block img-fluid"
                src="https://i.ebayimg.com/00/s/Njc1WDY3OQ==/z/C3UAAOSwXE5fyGHq/$_57.PNG?set_id=8800005007" style="width: 50%"
                title="Image"></h1>
          </div>
        </div>
      </div>
      <div>
        <div class="container" style="padding-bottom: 20px; padding-top: 50px">
          <div class="row">
 
          </div>
        </div>
      </div>
      <div class="style0"
        style="border-bottom: 1px solid rgb(203, 212, 194);">
        <div class="container section">
          <div class="col-12 col-md-12">
            <h2 class="h2" style="line-height: 45px; 
            background: rgba(26, 214, 8, 0.678);">
              <font class="style1">Shipping</font>
            </h2>
            <p>
             <li>We offer FREE shipping on all orders!</li>
             <li>We ship within Three business days of payment, usually sooner.</li>
             <li>We use a selection of shipping services such as UPS, FedEx, USPS etc.</li>
             <li>We only ship to the lower 48 states, no APO/FPO addresses or PO Boxes allowed.</li>
             <li>Local pickups and combined shipping options are not provided at this time.</li>
            </p>
          </div>
     
        </div>
        <div class="container section">
          <div class="col-12 col-md-12">
            <h2 class="h2">
              <font class="style1">Return</font>
            </h2>
            <p>
            <li>You can return a product for up to 30 days from the date you purchased it.</li>
            <li>Any product you return must be in the same condition you received it and in the original packaging. Please keep the receipt.</li>  
            </p>
          </div>
  
        </div>
        <div class="container section">
          <div class="col-12 col-md-12">
            <h2 class="h2">
              <font class="style1">FeedBack</font>
            </h2>
            <p>
              <li>Customer satisfaction is very important to us.</li>
              <li>If you have any problem with your order, please contact us and we will do our best to make you satisfied.</li>
            </p>
          </div>

        </div>
        <div class="container  section">
          <div class="col-12 col-md-12">
            <h2 class="h2">
              <font class="style1">Contact us</font>
            </h2>
            <p>
              <font style="color: #353535">We can be contacted at any time through eBay messages if you
                have any questions, comments or product requests. We will respond to you within 24 hours and do our best
                to help you out! We encourage our customers to contact us with any questions or concerns! We'd like to
                be sure you are completely satisfied with your purchase.</font>
            </p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </font>