body {
  margin: 0;
  background: #8ab0b3;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.api-ref {
  position: absolute;
  /* top: 50px; */
  bottom: 0;
  /* height: 1.5rem; */
  left: 45%;
  font-size: 10px;
}


.container {
  margin: 0 auto;
  width: 90%;
  /* border: 1px solid red; */
}

.container-main h1 {
  font-size: 48px;
  text-align: center;
}

.container-main .search {
  margin-left: 70%;
  margin-top: 7%;
  margin-bottom: 2%;
}

.container-main .search form input {
  border-radius: 5px;
  outline: none;
}


.cards-container {
  /* border: 1px solid red; */
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.current-weather {
  border: 1px solid red;
  width: 50%;
  height: 127px;
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 7%;
  background: #f3f3f3;
  color: #343226;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 8px 40px rgba(#f3f3f3, .2);
}

.current-weather h3 {
  margin-left: 18.5%;
}

.current-weather-main {
  display: flex;
  justify-content: space-around;
}

.current-weather-image span {
  position: relative;
  bottom: 26px;
}

.current-weather-info {
  position: relative;
  bottom: -25px;
}

.daily-temp-container {
  /* border: 1px solid red; */
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.card-temp {
  margin: 1%;
  border: 1px solid red;
  width: 25%;
  height: 100px;
  background: #f3f3f3;
  color: #343226;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 8px 40px rgba(#f3f3f3, .2);
}

.card {
  text-decoration: none;
  margin: 1%;
  width: 20%;
  /* height: 70px; */
  text-align: center;
  background: #f3f3f3;
  color: #343226;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 8px 40px rgba(#f3f3f3, .2);
}

.card:hover {
  transition: background .6s ease;
  background: #c4c4c4;
  color: #ffffff;
}

.error {
  display: block;
  margin: 0 auto;
}

.forecast-cards {
  display: flex;
  justify-content: center;
}

.forecast-cards div {
  position: relative;
  bottom: -18px;
  margin-left: 16px;
}

.main-content{
  padding-bottom: 1.5rem;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.top-content {
  position: relative ;
  min-height: 95vh;
}

.temp {
  display: flex;
  justify-content: center;
}

.temp li {
  list-style: none;
  margin: 0 5%;
}


@media screen and (max-width: 576px) {
  .container-main .search {
    margin-left: 20%;
    margin-top: 7%;
    margin-bottom: 7%;
  }

  .cards-container {
    width: 100%;
  }

  .card {
    width: 30%;
  }

  .card-temp {
    height: 100%;
  }

  .current-weather-main {
    margin-top: -16px;
  }

  /* .current-weather {
    height: 150px;
  } */

  .current-weather h3 {
    margin-left: 9%;
  }

  .current-weather-image span {
    display: block;
    margin-top: 20px;
    width: 80px;
  }

  .api-ref {
    margin-left: -12%;
  }

  .forecast-cards {
    display: block;
    margin-left: -10px;
  }

  .forecast-cards div {
    position: relative;
    min-height: 25px;
    bottom: 0px;
    margin-left: 16px;
  }

  .top-content {
    min-height: 100vh;
  }

}
