body {
  margin: 0;
  background: #8ab0b3;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.api-ref {
  position: absolute;
  bottom: 5px;
  border: 1px solid red;
  left: 45%;
  font-size: 10px;
}


.container {
  margin: 0 auto;
  width: 90%;
  border: 1px solid red;
}

.container-main h1 {
  font-size: 48px;
  text-align: center;
}

.container-main .search {
  margin-left: 78%;
  margin-bottom: 3%;
}

.container-main .search form input {
  border-radius: 5px;
  outline: none;
}


.cards-container {
  border: 1px solid red;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.current-weather {
  border: 1px solid red;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3%;
}

.current-weather h3 {
  margin-left: 18.5%;
}

.current-weather-main {
  display: flex;
  justify-content: space-around;
}

.daily-temp-container {
  border: 1px solid red;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.card-temp {
  margin: 1%;
  border: 1px solid red;
  width: 10%;
  height: 100px;
}

.card {
  margin: 1%;
  border: 1px solid red;
  width: 30%;
  height: 100px;
  text-align: center;
}

.temp {
  display: flex;
  justify-content: center;
}

.temp li {
  list-style: none;
  margin: 0 5%;
}
